<h1>Welcome to SkyCast!</h1>

<div id="map-canvas" style="display: none;"></div>

<div id="forecast-div">
	<h2>Loading Forecast for your current location...</h2>
	<%= image_tag "triangle.gif", class: "loading-img" %>
</div>